li > a[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  bottom: 100%;
  font-family: "Route 159";
  right: 0;
  width: 1.75em;
  height: 1.75em;
  background-color: #591414;
  border-radius: 1.75em;
  line-height: 1.75em;
  text-align: center;
  font-weight: bold;
  font-size: .6em;
  left: 0;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px rgba(255, 255, 255, 0.2);
}

li li a[data-badge]::after {
  left: auto;
  right: 3px;
  top: 50%;
}
