$directory: "chrome-extension://__MSG_@@extension_id__/themes"

$image: "#{$directory}/images"
$custom: "#{$directory}/images/custom"
$elusive: "#{$directory}/images/elusive"
$trophy: "#{$directory}/images/custom/trophies"

$author: "Brad in Dvorak" !default
$title: "Cyslantia" !default
$version: "2.0" !default

// Version info

/*! #{$title}, version #{$version} by #{$author} !*/

// Initialize variables

$color-background-page: null !default
$color-background-masthead: null !default
$color-background-navbar: null !default
$color-background-main: null !default
$color-background-sidebar: null !default
$color-background-accent: null !default
$color-background-button: null !default
$color-background-card: null !default
$color-background-chip: null !default
$color-background-chip-active: null !default
$color-background-badge: #C09839 !default

$color-border-navbar: null !default
$color-border-main: null !default
$color-border-sidebar: null !default

$color-text-masthead: null !default
$color-text-navbar: null !default
$color-text-heading: null !default
$color-text-heading-alt: null !default
$color-text-main: null !default
$color-text-sidebar: null !default
$color-text-sidebar-heading: null !default
$color-text-link: null !default
$color-text-link-hover: null !default
$color-text-label: null !default
$color-text-button: $color-text-masthead !default
$color-text-comm: #B68000 !default

$font-heading: "Playfair Display", serif !default
$font-main: "Route 159", Ubuntu, "Trebuchet MS", sans-serif !default
$font-monospace: "Fira Code", "Fira Mono", monospace !default
$font-size-main: 14px !default

$image-background-page: url("#{$image}/cys-banner-baked.svg") !default
$image-background-underside: url("#{$image}/cys-corner.svg") !default
$image-background-masthead-1x: url("#{$image}/cys-header.png") !default
$image-background-masthead-2x: url("#{$image}/cys-header-2x.png") !default
$image-background-masthead-3x: url("#{$image}/cys-header-3x.png") !default
$image-background-masthead-4x: url("#{$image}/cys-header-4x.png") !default

$image-login: url("#{$image}/login.png") !default

$image-icon-rss: url("#{$elusive}/rss.svg") !default
$image-icon-featured: url("#{$elusive}/star-alt.svg") !default
$image-icon-length-rating: url("#{$custom}/length-rating.svg") !default
$image-icon-difficulty-1: url("#{$custom}/difficulty-1.svg") !default
$image-icon-difficulty-2: url("#{$custom}/difficulty-2.svg") !default
$image-icon-difficulty-3: url("#{$custom}/difficulty-3.svg") !default
$image-icon-difficulty-4: url("#{$custom}/difficulty-4.svg") !default
$image-icon-difficulty-5: url("#{$custom}/difficulty-5.svg") !default
$image-icon-difficulty-6: url("#{$custom}/difficulty-6.svg") !default
$image-icon-difficulty-7: url("#{$custom}/difficulty-7.svg") !default
$image-icon-difficulty-8: url("#{$custom}/difficulty-8.svg") !default
$image-icon-check: url("#{$elusive}/ok-sign.svg") !default
$image-icon-search: url("#{$elusive}/search.svg") !default
$image-icon-prev: url("#{$elusive}/backward.svg") !default
$image-icon-next: url("#{$elusive}/forward.svg") !default
$image-icon-eye: url("#{$elusive}/eye-open.svg") !default
$image-icon-eye-closed: url("#{$elusive}/eye-close.svg") !default
$image-icon-threaded: url("#{$elusive}/align-left.svg") !default
$image-icon-unthreaded: url("#{$elusive}/align-justify.svg") !default
$image-icon-reply: url("#{$elusive}/share-alt.svg") !default
$image-icon-edit: url("#{$elusive}/pencil.svg") !default
$image-icon-link: url("#{$elusive}/link.svg") !default
$image-icon-minus: url("#{$elusive}/minus.svg") !default
$image-icon-plus: url("#{$elusive}/plus.svg") !default
$image-icon-bug: url("#{$custom}/bug.png") !default
$image-icon-squashed-bug: url("#{$custom}/squashedbug.png") !default
$image-icon-tag: url("#{$elusive}/tag.svg") !default
$image-icon-exclaim: url("#{$elusive}/exclaim.png") !default
$image-icon-coauth: url("#{$elusive}/group.svg") !default
$image-icon-edit-adv: url("#{$elusive}/file-edit.svg") !default
$image-icon-delete: url("#{$elusive}/remove.svg") !default
$image-icon-go: url("#{$elusive}/arrow-right.svg") !default
$image-icon-stop: url("#{$elusive}/stop-alt.svg") !default
$image-icon-item: url("#{$elusive}/gift.svg") !default
$image-icon-variable: url("#{$custom}/percent.svg") !default
$image-icon-script: url("#{$elusive}/file.svg") !default
$image-icon-user: url("#{$elusive}/user.svg") !default
$image-icon-ok: url("#{$elusive}/ok.svg") !default
$image-icon-fww-new: url("#{$custom}/fwwNew.png") !default
$image-icon-fww-accepted: url("#{$custom}/fwwAccepted.png") !default
$image-icon-fww-completed: url("#{$custom}/fwwCompleted.png") !default
$image-icon-fww-rejected: url("#{$custom}/fwwRejected.png") !default

$image-trophy-100points: url("#{$trophy}/100.png") !default
$image-trophy-500points: url("#{$trophy}/500.png") !default
$image-trophy-1000points: url("#{$trophy}/1000.png") !default
$image-trophy-2000points: url("#{$trophy}/2000.png") !default
$image-trophy-5000points: url("#{$trophy}/5000.png") !default
$image-trophy-infinitepoints: url("#{$trophy}/infinite.png") !default
$image-trophy-contestwinner: url("#{$trophy}/contest.png") !default
$image-trophy-featuredstory: url("#{$trophy}/featured.png") !default
$image-trophy-luckydueler: url("#{$trophy}/luckydueler.png") !default
$image-trophy-topposter: url("#{$trophy}/toppost.png") !default
$image-trophy-supremeposter: url("#{$trophy}/toppostglow.png") !default
$image-trophy-bughunter: url("#{$trophy}/bughunter.png") !default
$image-trophy-toprater: url("#{$trophy}/toprate.png") !default
$image-trophy-supremerater: url("#{$trophy}/toprateglow.png") !default
$image-trophy-communitycontributor: url("#{$trophy}/contributor.png") !default
$image-trophy-genericfrom: url("#{$trophy}/from.png") !default
$image-trophy-fromindex: url("#{$trophy}/trophyFromIndex.png") !default
$image-trophy-fromalexp: url("#{$trophy}/alexp.png") !default
$image-trophy-fromberka: url("#{$trophy}/bz.png") !default
$image-trophy-fromchocobot: url("#{$trophy}/chocobot.png") !default
$image-trophy-fromendmaster: url("#{$trophy}/end.png") !default
$image-trophy-fromfleshnblood: url("#{$trophy}/nate.png") !default
$image-trophy-fromhavacoman: url("#{$trophy}/havacoman.png") !default
$image-trophy-fromjjj: url("#{$trophy}/3j.png") !default
$image-trophy-frommadglee: url("#{$trophy}/madglee.png") !default
$image-trophy-frommarch5th: url("#{$trophy}/march.png") !default
$image-trophy-fromsethaniel: url("#{$trophy}/seth.png") !default
$image-trophy-fromsolostrike: url("#{$trophy}/solo.png") !default
$image-trophy-fromtsmpaul: url("#{$trophy}/tsmpaul.png") !default
$image-trophy-fromwill11: url("#{$trophy}/will.png") !default

$image-duel-toggle: url("#{$custom}/duel-toggle.png") !default
$image-duel-rps: url("#{$custom}/duel-rps.png") !default
$image-duel-rps25: url("#{$custom}/duel-rps25.png") !default
$image-icon-duel-checked: url("#{$directory}/images/game-icons/checked.svg") !default
$image-icon-duel-square: url("#{$directory}/images/game-icons/square.svg") !default
$image-icon-duel-blank: url("#{$directory}/images/game-icons/blank.svg") !default
$image-icon-duel-nuke: url("#{$directory}/images/game-icons/nuke.svg") !default
$image-icon-duel-lightning: url("#{$directory}/images/game-icons/lightning.svg") !default
$image-icon-duel-snake: url("#{$directory}/images/game-icons/snake.svg") !default
$image-icon-duel-devil: url("#{$directory}/images/game-icons/devil.svg") !default
$image-icon-duel-gun: url("#{$directory}/images/game-icons/gun.svg") !default
$image-icon-duel-wolf: url("#{$directory}/images/game-icons/wolf.svg") !default
$image-icon-duel-woman: url("#{$directory}/images/game-icons/woman.svg") !default
$image-icon-duel-rock: url("#{$directory}/images/game-icons/rock.svg") !default
$image-icon-duel-paper: url("#{$directory}/images/game-icons/paper.svg") !default
$image-icon-duel-dynamite: url("#{$directory}/images/game-icons/dynamite.svg") !default
$image-icon-duel-axe: url("#{$directory}/images/game-icons/axe.svg") !default
$image-icon-duel-sponge: url("#{$directory}/images/game-icons/sponge.svg") !default
$image-icon-duel-scissors: url("#{$directory}/images/game-icons/scissors.svg") !default
$image-icon-duel-water: url("#{$directory}/images/game-icons/water.svg") !default
$image-icon-duel-bowl: url("#{$directory}/images/game-icons/bowl.svg") !default
$image-icon-duel-cockroach: url("#{$directory}/images/game-icons/cockroach.svg") !default
$image-icon-duel-air: url("#{$directory}/images/game-icons/air.svg") !default
$image-icon-duel-fire: url("#{$directory}/images/game-icons/fire.svg") !default
$image-icon-duel-alien: url("#{$directory}/images/game-icons/alien.svg") !default
$image-icon-duel-dragon: url("#{$directory}/images/game-icons/dragon.svg") !default
$image-icon-duel-man: url("#{$directory}/images/game-icons/man.svg") !default
$image-icon-duel-tree: url("#{$directory}/images/game-icons/tree.svg") !default
$image-icon-duel-monkey: url("#{$directory}/images/game-icons/monkey.svg") !default
$image-icon-duel-moon: url("#{$directory}/images/game-icons/moon.svg") !default
$image-icon-duel-sun: url("#{$directory}/images/game-icons/sun.svg") !default

$radius-default: 4px

@import cyslantia-fonts

@import cyslantia-functions

// Basic body stuff first

html, body
  min-height: 100vh

html
  background: $color-background-page $image-background-page repeat-x

  &[dir="ltr"]
    background: unset

body
  background-color: $color-background-page
  box-sizing: border-box
  color: $color-text-main
  font-family: $font-main
  font-size: $font-size-main !important
  position: relative
  z-index: -2

  &.cke_editable
    background-color: #FFFAEF

  &:not(.cke_editable)
    line-height: 1.0625
    margin: 0

  > table:first-child
    padding: 8px

// Header area

#HeaderContainer
  background-color: $color-background-masthead

  //background: $image-background-masthead top center no-repeat, specular-gradient(360px, 33.33%), $color-background-masthead
  background: -webkit-image-set($image-background-masthead-1x 1x, $image-background-masthead-2x 2x, $image-background-masthead-3x 3x, $image-background-masthead-4x 4x) top center no-repeat, specular-gradient(360px, 33.33%), $color-background-masthead
  height: 130px
  z-index: -1

  .header-alerts-container
    margin: 0 !important
    left: 50%
    transform: translateX(-50%)
    bottom: 10px
    background-color: #F5F0E4 !important

    &.newmessage
      border: 1px solid $color-border-navbar !important

  .header-contents
    height: 120px !important
    margin: auto
    position: relative
    z-index: -1

    .header-logo
      img
        height: 120px
        opacity: 0
        display: none

      a::after
        color: $color-text-masthead
        content: "chooseyourstory.com"
        font-size: 30pt
        font-family: $font-heading
        font-weight: bold
        left: -40px
        line-height: 120px
        position: absolute
        top: 0

// Body area

#BodyContainer
  width: unset
  max-width: 960px
  margin: 0 auto !important
  box-shadow: 0 2px 10px rgba(black, 0.35)
  position: static !important
  isolation: isolate

  // Navbar

  .sidebar-content
    border-top: 1px solid $color-border-navbar
    box-sizing: border-box
    padding: 0 !important
    top: 130px !important
    width: 100%

    > ul
      margin: 0 auto !important
      max-width: 978px
      height: 48px
      box-sizing: border-box
      padding: 10px 5px !important
      box-shadow: 0 3px 8px rgba(black, 0.4), inset 0 1px rgba(white, 0.2)
      position: relative
      top: -10px
      background-color: $color-background-navbar
      border-top: 1px solid $color-border-navbar
      background: specular-gradient(360px, 33.33%), $color-background-navbar
      z-index: 101
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: stretch

      > li
        display: inline-flex
        position: relative
        height: 100%
        margin-bottom: 10px
        flex: 1 0 auto

        a
          font-family: $font-heading

          //font-variant: small-caps //using font-weight: 500
          padding: 0 20px
          color: $color-text-navbar !important
          text-shadow: 0 1px 0 rgba(black, 0.8)
          font-weight: 500
          border-right: 1px solid rgba(white, 0.15)
          white-space: nowrap
          transition: text-shadow 333ms ease
          text-align: center
          width: 100%

          &:hover, &.selected
            text-shadow: 0 0 20px rgba(white, 0.9)

          &[data-badge]::after
            content: attr(data-badge)
            position: absolute
            bottom: 100%
            font-family: $font-main
            right: 0
            width: 20px
            height: 20px
            background-color: $color-background-badge
            border-radius: 20px
            line-height: 20px
            text-align: center
            font-weight: bold
            font-size: 0.6em
            left: 0
            margin: auto
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px rgba(255, 255, 255, 0.2)

        &:last-of-type a
          border-right: none

        > ul
          position: absolute
          top: 100%
          padding-top: 10px
          background-color: darken(desaturate($color-background-navbar, 14), 4)
          background-clip: content-box
          visibility: hidden
          opacity: 0
          transition: opacity 333ms ease
          min-width: 100%
          z-index: 1

          > li
            display: block
            margin: 0
            width: 100%

            a
              border-bottom: 1px solid rgba(black, 0.2)
              border-right: none
              display: block
              font-weight: 400
              margin: 0 20px
              padding: 4px 0
              position: relative
              text-align: left
              width: auto

              &[data-badge]::after
                border-radius: 18px
                bottom: unset
                height: 18px
                left: 100%
                line-height: 18px
                right: unset
                top: 50%
                transform: translateY(-50%)
                width: 18px

            &:last-of-type a
              border-bottom: none

        &:hover > ul
          visibility: visible
          opacity: 1

    &::after
      background-color: $color-background-navbar
      border-top: 1px solid rgba(white, 0.2)
      box-sizing: border-box
      bottom: 0
      content: " "
      height: 100%
      position: absolute
      width: 100%
      z-index: -1

  > .main-content
    background-color: $color-background-main !important
    border-color: $color-border-main !important
    margin: 38px auto 0 !important
    position: relative

    &::before, &::after
      content: " "
      height: 6px
      width: 9px
      background-image: $image-background-underside
      position: absolute
      top: 0
      z-index: 1

    &::before
      left: -10px
      transform: scaleX(-1)

    &::after
      right: -10px

  > .footer-content
    background-color: lighten($color-background-main, 3%) !important
    border-color: $color-border-main !important
    margin: 0 !important

  // Extras for certain pages and the CKEditor

  &:not(.fixed-width-container)
    box-shadow: none
    height: 100vh

    > .main-content
      background-color: transparent !important
      box-sizing: border-box
      height: 100%
      margin: 0 !important
      padding: 10px

      &::before
        content: none

      table
        tr
          background-color: lighten($color-background-page, 4%) !important

        tr:nth-of-type(odd)
          background-color: $color-background-page !important

        + .button
          display: none

// Navbar

.sidebar-content

// General main stuff

h1, h2, h3, h1 a
  color: $color-text-heading
  font-family: $font-heading

a
  color: $color-text-link

  &:hover
    color: $color-text-link-hover
    text-decoration: underline

table
  background-color: transparent

  &:not([cellpadding="0"])
    > tbody > tr, > tr
      background-color: $color-background-main

      &:nth-of-type(even)
        background-color: lighten($color-background-main, 3%)

  &.styled-table
    th, tr
      padding: 5px 10px

      > td
        border: none

    th
      background-color: $color-background-accent
      border: none !important
      border-radius: 0 !important
      padding: 2px 10px

    h3.read a
      color: desaturate($color-text-link-hover, 12%)

  .dark1borderTop1pxSolid
    border-top: none

.smallerText
  font-size: 0.75em

code, kbd, samp
  font-family: $font-monospace

code
  font-variant-ligatures: contextual

kbd, samp
  font-variant-ligatures: no-contextual

select, textarea
  background-color: lighten($color-background-main, 12%)
  border: none
  border-radius: $radius-default
  color: lighten($color-text-main, 6%)
  font-family: $font-monospace
  font-size: 11px
  font-variant-ligatures: no-contextual
  padding: 4px

input
  &[type="text"], &[type="password"], &[type="number"], &[type="date"]
    @extend select

  &[type="button"], &[type="file"], &[type="submit"]
    @extend select

    background-color: $color-background-button
    background-image: unset
    color: $color-text-button
    cursor: pointer
    font-family: $font-main

  &[style="background-color:#DFDFDF"]
    background-color: lighten($color-background-main, 12%) !important

th, label
  color: $color-text-label

hr
  background-color: $color-background-accent
  border: none
  border-radius: 0
  height: 1px
  margin: 0.5em 2px

// Home

[style="font-size:85%"] + table
  margin: auto

  + h1 ~ div > div
    background-color: transparent !important

// Storygame sections

td > .dark1border
  background-color: $color-background-card !important
  border-color: $color-border-main !important

#FilterOptionsDiv
  background-color: lighten($color-background-main, 3%)

  tr
    background-color: transparent

#MainContentPlaceHolder_StoriesGridView
  tr
    background-color: transparent

    &:nth-of-type(even)
      background-color: rgba(white, 0.03)

  .inverse1
    color: $color-text-heading-alt
    background-color: $color-background-accent

  td
    height: 1.6em

    img
      vertical-align: middle

    p
      display: inline

      img
        vertical-align: top

img
  &[src="/Resources/Images/feed-icon-12x12.gif"]
    content: $image-icon-rss

  &[src$="CYS/images/star.gif"]
    content: $image-icon-featured

  &[src$="CYS/images/checkmark.gif"], &[src$="16x16/accept.png"]
    content: $image-icon-check

  &[src*="CYS/images/length_levels/"][src$=".gif"]
    content: $image-icon-length-rating
    object-fit: cover
    object-position: left

  &[src$="CYS/images/length_levels/1.gif"]
    width: 5px

  &[src$="CYS/images/length_levels/2.gif"]
    width: 11px

  &[src$="CYS/images/length_levels/3.gif"]
    width: 17px

  &[src$="CYS/images/length_levels/4.gif"]
    width: 23px

  &[src$="CYS/images/length_levels/5.gif"]
    width: 29px

  &[src$="CYS/images/length_levels/6.gif"]
    width: 35px

  &[src$="CYS/images/length_levels/7.gif"]
    width: 41px

  &[src$="CYS/images/length_levels/8.gif"]
    width: 47px

  &[src$="CYS/images/difficulty_levels/1.gif"]
    content: $image-icon-difficulty-1

  &[src$="CYS/images/difficulty_levels/2.gif"]
    content: $image-icon-difficulty-2

  &[src$="CYS/images/difficulty_levels/3.gif"]
    content: $image-icon-difficulty-3

  &[src$="CYS/images/difficulty_levels/4.gif"]
    content: $image-icon-difficulty-4

  &[src$="CYS/images/difficulty_levels/5.gif"]
    content: $image-icon-difficulty-5

  &[src$="CYS/images/difficulty_levels/6.gif"]
    content: $image-icon-difficulty-6

  &[src$="CYS/images/difficulty_levels/7.gif"]
    content: $image-icon-difficulty-7

  &[src$="CYS/images/difficulty_levels/8.gif"]
    content: $image-icon-difficulty-8

// Storygame description page

.storygame-play-button > input
  font-size: 150%
  background-image: none
  padding: 6px

.storygame-sidebar .rating-level-block h3 .rating[title]:not([title=""])
  border-bottom: 1px dotted $color-background-main
  cursor: help

img[src$="16x16/star.png"]
  content: $image-icon-featured

// Storygame rating container

.ui-dialog
  font-family: $font-heading
  box-shadow: 0 3px 8px rgba(black, 0.4)
  border-radius: 0
  background-color: $color-background-sidebar !important
  border: 1px solid $color-border-sidebar
  background: specular-gradient(360px, 0%)

  > .ui-dialog-titlebar
    background-color: transparent
    background-image: none
    border: none
    border-radius: 0

.ui-widget-overlay
  background: rgba(grey, 0.4)
  opacity: 1
  backdrop-filter: blur(3px)

// Storygame search

#storygameListContainer
  #storygameListFilters
    flex: 1 0 200px

  #storygameListPages
    flex: 1 0 680px

  .entry > div:nth-child(2)
    flex: 0 0 480px

.multiInput
  @extend select

  padding: 0
  padding-right: 1.5em

  label[for="paginationSubsearch"]
    background-color: inherit
    font-size: inherit
    top: 50%
    transform: translateY(-50%)

// Forums

a.button, a.button:active
  @extend input[type="button"]

  background-image: unset
  display: inline-block
  height: auto
  line-height: initial

  > img
    height: 14px
    margin-top: 0

    &[src$="magnifier.png"]
      content: $image-icon-search

    &[src$="note_add.png"]
      content: $image-icon-plus

    &[src$="eye.png"]
      content: $image-icon-eye

    &[src$="stop.png"]
      content: $image-icon-eye-closed

    &[src$="application_tile_vertical.png"]
      content: $image-icon-unthreaded

    &[src$="application_cascade.png"]
      content: $image-icon-threaded

    &[src$="note_go.png"], &[src$="email_go.png"]
      content: $image-icon-reply

    &[src$="note_edit.png"]
      content: $image-icon-edit

    &[src$="tag_green.png"]
      content: $image-icon-tag

    &[src$="user_add.png"]
      content: $image-icon-user

    &[src$="disk.png"]
      content: $image-icon-ok

    &[src$="control_rewind.png"]
      content: $image-icon-prev

    &[src$="control_fastforward.png"]
      content: $image-icon-next

img
  &[src="/forums/images/bug.gif"]
    content: $image-icon-bug

  &[src="/forums/images/squashedbug.gif"]
    content: $image-icon-squashed-bug

  &[src="/forums/images/newFeature.gif"]
    content: $image-icon-fww-new

  &[src="/forums/images/acceptedFeature.gif"]
    content: $image-icon-fww-accepted

  &[src="/forums/images/completedFeature.gif"]
    content: $image-icon-fww-completed

  &[src="/forums/images/rejectedFeature.gif"]
    content: $image-icon-fww-rejected

.icon-box
  background-color: $color-background-chip
  border: none
  border-radius: $radius-default
  line-height: 1

ul
  &.bug-selector, &.fww-selector, &.help-info-selector
    @extend .icon-box

    display: table
    font-weight: bold
    margin: 10px
    overflow: hidden
    padding: 0

    > li, > span
      color: inherit
      font-size: inherit
      display: inline-block
      padding: 10px
      position: relative

      &::after
        background-color: rgba(white, 0.15)
        content: " "
        height: 50%
        left: 100%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 1px

      &.selected
        background-color: $color-background-chip-active

        &::after
          content: none

      &:last-of-type::after
        content: none

      a
        color: inherit

// Forum posts

.forum-thread
  .forum-thread
    margin-left: 25px

  .forum-message
    margin-left: 0 !important
    transition: background-color 0.5s ease

  &.collapsed
    a.button.collapse > img
      content: $image-icon-plus

    > .forum-message
      > .heading
        padding-bottom: 0

        > h2
          margin-bottom: 0

  &:hover
    > .forum-message
      background-color: #E6DABE

.forum-message
  background-color: #FFFAEF
  border-color: #E6DABE !important
  box-shadow: 0 3px 8px rgba(black, 0.15)

  > div
    border: none !important

  > .heading
    background-color: inherit

    > .buttons
      .anchor > img
        content: $image-icon-link

      .collapse > img
        content: $image-icon-minus

      .collapse.collapsed > img
        content: $image-icon-plus

    > h2
      background-color: #C04039
      color: $color-text-heading-alt
      padding: 6px 5px
      margin: -5px -5px 10px

    > .subH2
      cursor: help
      font-style: italic
      margin-bottom: 0

  > .avatar-container
    background-color: #F5F0E4
    border-right: 1px solid #E6DABE !important
    overflow: hidden

    > .avatar
      border: none
      border-radius: $radius-default
      margin-top: 10px
      object-fit: cover
      object-position: 50% 15%
      width: 80px
      height: 80px
      max-width: unset
      filter: drop-shadow(0 0px 3px rgba(black, 0.15))
      transition: object-position 0.2s linear

    > .user-name
      overflow: visible
      white-space: nowrap

      &[style*="#990000"]
        color: $color-text-comm !important

  > .body
    img
      max-width: 100%
      height: auto

// My Stuff

=helper
  background-color: $color-background-card
  border: 1px solid $color-border-main !important
  border-radius: $radius-default

.ui-sortable-helper
  +helper

  color: $color-text-main
  padding: 5px !important

#MyStuffEditor
  > #MyStuffSidebar
    @extend #profile_Sidebar

    float: right
    text-align: center

    > div
      padding: 5px 0
      margin: 0 10px

  > #MyStuffContainer
    > .flex.row
      > .flex.col
        +helper

// My Pictures

td > a > img[vspace="5"]
  object-fit: contain
  object-position: bottom

// My Messages

.message-header
  background-color: lighten($color-background-main, 3%) !important
  border: none !important

  + .message-header
    background-color: lighten($color-background-main, 3%) !important

.message-body
  background-color: lighten($color-background-main, 3%) !important
  border: none !important
  font-size: inherit !important

.message-body + hr
  display: none

  &:nth-of-type(odd) + .message-header
    background-color: transparent !important

    + .message-body
      background-color: transparent !important

// My Duels

img
  &[src="toggle/image.gif"]
    content: $image-duel-toggle

  &[src="rockpaperscissors/image.gif"]
    content: $image-duel-rps

  &[src="rps/images/rpslogo.gif"]
    content: $image-duel-rps25

form[action*="newduel"] > table
  margin: auto

td
  &[style*="1px solid #000033"]
    background-color: transparent !important
    border: none !important

  hr[noshade]
    display: none

[for="radchecked"] > img
  content: $image-icon-duel-checked

[for="radunchecked"] > img
  content: $image-icon-duel-square

[for="radRock"] > img
  content: $image-icon-duel-rock

[for="radPaper"] > img
  content: $image-icon-duel-paper

[for="radScissors"] > img
  content: $image-icon-duel-scissors

img
  &[title="???"]
    content: $image-icon-duel-blank
    filter: saturate(0.8) opacity(0.3)

  &[id^="MainContentPlaceHolder__choiceImage_"]:not([title="???"])
    cursor: pointer !important

  &#MainContentPlaceHolder__choiceImage_nuke, &[width="72"][height="72"][src$="nuke.gif"]
    content: $image-icon-duel-nuke

  &#MainContentPlaceHolder__choiceImage_lightning, &[width="72"][height="72"][src$="lightning.gif"]
    content: $image-icon-duel-lightning

  &#MainContentPlaceHolder__choiceImage_snake, &[width="72"][height="72"][src$="snake.gif"]
    content: $image-icon-duel-snake

  &#MainContentPlaceHolder__choiceImage_devil, &[width="72"][height="72"][src$="devil.gif"]
    content: $image-icon-duel-devil

  &#MainContentPlaceHolder__choiceImage_gun, &[width="72"][height="72"][src$="gun.gif"]
    content: $image-icon-duel-gun

  &#MainContentPlaceHolder__choiceImage_wolf, &[width="72"][height="72"][src$="wolf.gif"]
    content: $image-icon-duel-wolf

  &#MainContentPlaceHolder__choiceImage_woman, &[width="72"][height="72"][src$="woman.gif"]
    content: $image-icon-duel-woman

  &#MainContentPlaceHolder__choiceImage_rock, &[width="72"][height="72"][src$="rock.gif"]
    content: $image-icon-duel-rock

  &#MainContentPlaceHolder__choiceImage_paper, &[width="72"][height="72"][src$="paper.gif"]
    content: $image-icon-duel-paper

  &#MainContentPlaceHolder__choiceImage_dynamite, &[width="72"][height="72"][src$="dynamite.gif"]
    content: $image-icon-duel-dynamite

  &#MainContentPlaceHolder__choiceImage_axe, &[width="72"][height="72"][src$="axe.gif"]
    content: $image-icon-duel-axe

  &#MainContentPlaceHolder__choiceImage_sponge, &[width="72"][height="72"][src$="sponge.gif"]
    content: $image-icon-duel-sponge

  &#MainContentPlaceHolder__choiceImage_scissors, &[width="72"][height="72"][src$="scissors.gif"]
    content: $image-icon-duel-scissors

  &#MainContentPlaceHolder__choiceImage_water, &[width="72"][height="72"][src$="water.gif"]
    content: $image-icon-duel-water

  &#MainContentPlaceHolder__choiceImage_bowl, &[width="72"][height="72"][src$="bowl.gif"]
    content: $image-icon-duel-bowl

  &#MainContentPlaceHolder__choiceImage_cockroach, &[width="72"][height="72"][src$="cockroach.gif"]
    content: $image-icon-duel-cockroach

  &#MainContentPlaceHolder__choiceImage_air, &[width="72"][height="72"][src$="air.gif"]
    content: $image-icon-duel-air

  &#MainContentPlaceHolder__choiceImage_fire, &[width="72"][height="72"][src$="fire.gif"]
    content: $image-icon-duel-fire

  &#MainContentPlaceHolder__choiceImage_alien, &[width="72"][height="72"][src$="alien.gif"]
    content: $image-icon-duel-alien

  &#MainContentPlaceHolder__choiceImage_dragon, &[width="72"][height="72"][src$="dragon.gif"]
    content: $image-icon-duel-dragon

  &#MainContentPlaceHolder__choiceImage_man, &[width="72"][height="72"][src$="man.gif"]
    content: $image-icon-duel-man

  &#MainContentPlaceHolder__choiceImage_tree, &[width="72"][height="72"][src$="tree.gif"]
    content: $image-icon-duel-tree

  &#MainContentPlaceHolder__choiceImage_monkey, &[width="72"][height="72"][src$="monkey.gif"]
    content: $image-icon-duel-monkey

  &#MainContentPlaceHolder__choiceImage_moon, &[width="72"][height="72"][src$="moon.gif"]
    content: $image-icon-duel-moon

  &#MainContentPlaceHolder__choiceImage_sun, &[width="72"][height="72"][src$="sun.gif"]
    content: $image-icon-duel-sun

// My Preferences

#CYSExtensionAvatarPreview
  border-radius: $radius-default

// Help & Info

[name="Founders"] ~ table tr:nth-of-type(even)
  display: none


// Login

img[src="App_Themes/CYS/images/login.gif"]
  content: $image-login

.twocol-form-field-set
  td
    background-color: lighten($color-background-main, 3%) !important
    border: none

#ui-datepicker-div
  z-index: unset !important

// Profiles

#profile_Text > img:first-child
  image-rendering: -webkit-crisp-edges
  image-rendering: -moz-crisp-edges
  image-rendering: -o-crisp-edges
  image-rendering: crisp-edges
  image-rendering: pixelated
  min-width: 100px !important

#profile_Sidebar
  box-shadow: 0 3px 8px rgba(black, 0.4)
  margin-right: -20px
  margin-left: 10px
  background-color: $color-background-sidebar !important
  border: 1px solid $color-border-sidebar
  color: $color-text-sidebar
  position: relative
  width: 170px !important
  background: specular-gradient(360px, 0%)

  h2
    color: $color-text-sidebar-heading
    margin-top: 5px !important

  > div
    border-bottom: 1px solid rgba(white, 0.15)
    padding-bottom: 5px
    margin: 0 10px 0

  &:last-of-type, + div
    border-bottom: none
    padding-bottom: 0

  a
    color: $color-text-sidebar !important
    text-shadow: 0 1px 0 rgba(black, 0.8)
    text-decoration: none
    transition: text-shadow 333ms ease

    &:hover
      text-shadow: 0 0 20px rgba(white, 0.9)

  &::after
    content: " "
    height: 6px
    width: 9px
    background: $image-background-underside no-repeat
    position: absolute
    top: 100%
    right: -1px
    z-index: -1

.alternate, h1.alternate
  color: $color-text-heading-alt
  text-align: center
  background-color: $color-background-accent !important
  border: 1px solid $color-background-navbar !important
  margin: 15px -20px 5px !important
  box-shadow: 0 3px 8px rgba(black, 0.4)
  position: relative

  &::before, &::after
    content: " "
    height: 6px
    width: 9px
    background-image: $image-background-underside
    position: absolute
    top: 100%
    z-index: -1

  &::before
    left: 0
    transform: scaleX(-1)

  &::after
    right: 0

#profile_Trophies
  padding: 10px 0
  width: 550px

  h2
    margin-left: 2px

img
  &[src="images/trophies/100points.gif"]
    content: $image-trophy-100points

  &[src="images/trophies/500points.gif"]
    content: $image-trophy-500points

  &[src="images/trophies/1000points.gif"]
    content: $image-trophy-1000points

  &[src="images/trophies/2000points.gif"], &[src="../member/images/trophies/2000points.gif"]
    content: $image-trophy-2000points

  &[src="images/trophies/5000points.gif"]
    content: $image-trophy-5000points

  &[src="images/trophies/infinitePoints.gif"]
    content: $image-trophy-infinitepoints

  &[src="images/trophies/contestWinner.gif"]
    content: $image-trophy-contestwinner

  &[src="images/trophies/featuredStory.gif"]
    content: $image-trophy-featuredstory

  &[src="images/trophies/luckyDueler.gif"]
    content: $image-trophy-luckydueler

  &[src="images/trophies/topPoster.gif"]
    content: $image-trophy-topposter

  &[src="images/trophies/supremePoster.gif"]
    content: $image-trophy-supremeposter

  &[src="images/trophies/bugHunter.gif"]
    content: $image-trophy-bughunter

  &[src="images/trophies/topRater.gif"]
    content: $image-trophy-toprater

  &[src="images/trophies/supremeRater.gif"]
    content: $image-trophy-supremerater

  &[src="images/trophies/CommunityContributor.gif"]
    content: $image-trophy-communitycontributor

  &[src="images/genericFrom.gif"]
    content: $image-trophy-genericfrom

  &[src="images/trophyFromIndex.gif"]
    content: $image-trophy-fromindex

  &[src="images/trophies/fromalexp.gif"]
    content: $image-trophy-fromalexp

  &[src="images/trophies/fromBerkaZerka.gif"]
    content: $image-trophy-fromberka

  &[src="images/trophies/fromchocobot.gif"]
    content: $image-trophy-fromchocobot

  &[src="images/trophies/fromEndMaster.gif"]
    content: $image-trophy-fromendmaster

  &[src="images/trophies/fromFleshnblood_78.gif"]
    content: $image-trophy-fromfleshnblood

  &[src="images/trophies/fromHavacoman.gif"]
    content: $image-trophy-fromhavacoman

  &[src="images/trophies/fromJJJ-thebanisher.gif"]
    content: $image-trophy-fromjjj

  &[src="images/trophies/fromMadglee.gif"]
    content: $image-trophy-frommadglee

  &[src="images/trophies/frommarch5th00.gif"]
    content: $image-trophy-frommarch5th

  &[src="images/trophies/fromSethaniel.gif"]
    content: $image-trophy-fromsethaniel

  &[src="images/trophies/fromSolostrike.gif"]
    content: $image-trophy-fromsolostrike

  &[src="images/trophies/fromtsmpaul.gif"]
    content: $image-trophy-fromtsmpaul

  &[src="images/trophies/fromWill11.gif"]
    content: $image-trophy-fromwill11

#profile_Articles, #profile_Posts, #profile_Stories
  clear: both

  hr
    clear: both

    &:last-child
      display: none

#profile_Articles, #profile_Posts
  > div
    *
      font-size: inherit

    a
      display: inline
      font-weight: unset

#profile_Stories
  > div + div
    *
      font-size: inherit

    a
      display: inline
      font-weight: unset

  .unpublished a
    display: inline
    font-style: italic

tr
  &.back1Background
    background-color: lighten($color-background-main, 3%)

// Footer area

#Footer
  margin-bottom: 0
  margin-left: auto
  margin-right: auto
  padding-bottom: 10px
  text-align: center

// Advanced Editor

img
  &[src$="CYS/images/checkmark.gif"][alt$="coauthor"]
    content: $image-icon-coauth

  &[src$="/exclaim.gif"]
    content: $image-icon-exclaim

  &[src$="/edit.gif"]
    content: $image-icon-edit-adv

  &[src$="/script.gif"], &[src$="/script_dim.gif"]
    content: $image-icon-script

  &[src$="/delete.gif"]
    content: $image-icon-delete

  &[src$="/go.gif"]
    content: $image-icon-go

  &[src$="/stop.gif"], &[src$="/stop_dim.gif"], &[src$="16x16/delete.png"]
    content: $image-icon-stop

  &[src$="/item.gif"], &[src$="/item_dim.gif"]
    content: $image-icon-item

  &[src$="/addsub.gif"], &[src$="/addsub_dim.gif"]
    content: $image-icon-variable

  &[src$="_dim.gif"]
    filter: saturate(0.8) opacity(0.6)

// Script editor

body[onload*="ScriptText"]
  padding: 0 !important

  > form
    box-sizing: border-box
    display: flex
    flex-direction: column
    height: 100%
    margin: 0
    padding: 20px

    > table
      margin-bottom: 0.5em

    > textarea
      font-variant-ligatures: contextual

    > .CodeMirror
      flex: 1 0

// Page editor

form[name="mainForm"]
  > div[style]
    box-sizing: border-box
    display: flex
    flex-direction: column
    min-height: 100vh
    margin: 0
    padding: 20px

    > p
      border-radius: $radius-default
      flex: 1 1 50vh
      min-height: 180px
      overflow: auto

      > .CodeMirror
        border-radius: 0
        height: 100%

.storygamePageEditorTitle
  align-items: baseline
  display: flex

  input
    color: lighten($color-text-main, 6%) !important

// CodeMirror Theme

.CodeMirror
  border-radius: $radius-default

// Media queries

@media (max-width: 1056px)
  #HeaderContainer .header-contents .header-logo a::after
    font-size: 28pt
    left: 0

@media (max-width: 998px)
  html, body, .fixed-width-container, .sidebar-content, #Footer
    width: 100% !important

  #BodyContainer
    .main-content::before, .main-content::after
      content: none

    .main-content, .sidebar-content::after
      border-style: none

    .footer-content
      border-style: none none solid

@media (max-width: 780px)
  #BodyContainer
    .sidebar-content > ul
      flex-wrap: wrap
      height: 85px

      > li
        flex: 1 0 25%
        height: 27px

    > .main-content
      margin-top: 75px !important
