$hue-primary: 3deg
$hue-secondary: 229deg
$hue-complementary: 127deg
$hue-tertiary: 42deg

$color-background-page: hsl($hue-tertiary, 44%, 82%)
$color-background-masthead: hsl($hue-tertiary, 10%, 11%)
$color-background-navbar: hsl($hue-primary, 70%, 31%)
$color-background-main: hsl($hue-tertiary, 46%, 93%)
$color-background-sidebar: hsl($hue-tertiary, 26%, 65%)
$color-background-accent: hsl($hue-primary, 54%, 49%)

$color-border-sidebar: hsl($hue-tertiary, 32%, 45%)

$color-text-masthead: hsl(0, 0%, 93%)
$color-text-navbar: hsl(0, 0%, 93%)
$color-text-heading: hsl(0, 0%, 10%)
$color-text-heading-alt: hsl(0, 0%, 93%)
$color-text-main: hsl(0, 0%, 20%)
$color-text-sidebar: hsl(0, 0%, 93%)
$color-text-link: hsl($hue-secondary, 79%, 41%)
$color-text-link-hover: hsl($hue-secondary, 100%, 31%)

@import "cyslantia-base"
