$hue-primary: 3deg
$hue-secondary: 209deg
$hue-complementary: 127deg
$hue-tertiary: 42deg

$color-background-page: hsl($hue-tertiary, 10%, 6%)
$color-background-header: hsl($hue-tertiary, 10%, 11%)
$color-background-navbar: hsl($hue-primary, 70%, 31%)
$color-background-main: hsl($hue-tertiary, 10%, 11%)
$color-background-sidebar: hsl($hue-tertiary, 26%, 65%)
$color-background-accent: hsl($hue-primary, 54%, 49%)

$color-text-header: hsl(0, 0%, 93%)
$color-text-navbar: hsl(0, 0%, 93%)
$color-text-heading: hsl(0, 0%, 80%)
$color-text-main: hsl(0, 0%, 73%)
$color-text-sidebar: hsl(0, 0%, 93%)
$color-text-link: hsla($hue-secondary, 100%, 70%, 0.8)
$color-text-link-hover: hsl($hue-secondary, 60%, 37%)

@import "cyslantia-base"
