$directory: "chrome-extension://__MSG_@@extension_id__/themes"

$hue-primary: 3deg
$hue-secondary: 209deg
$hue-complementary: 127deg
$hue-tertiary: 42deg

$color-background-page: hsl($hue-tertiary, 10%, 6%)
$color-background-masthead: hsl($hue-tertiary, 10%, 11%)
$color-background-navbar: hsl($hue-primary, 53%, 29%)
$color-background-main: hsl($hue-tertiary, 10%, 11%)
$color-background-sidebar: hsl($hue-tertiary, 26%, 65%)
$color-background-accent: hsl($hue-tertiary, 9%, 6%)
$color-background-button: hsl($hue-primary, 45%, 22%)
$color-background-card: hsl($hue-tertiary, 10%, 17%)
$color-background-chip: hsl($hue-tertiary, 10%, 15%)
$color-background-chip-active: hsl($hue-tertiary, 10%, 19%)

$color-border-navbar: hsl($hue-primary, 93%, 16%)
$color-border-main: hsl($hue-tertiary, 5%, 17%)
$color-border-sidebar: hsl($hue-tertiary, 32%, 45%)

$color-text-masthead: hsl(0, 0%, 93%)
$color-text-navbar: hsl(0, 0%, 93%)
$color-text-heading: hsl(0, 0%, 80%)
$color-text-heading-alt: hsl(0, 0%, 93%)
$color-text-main: hsl(0, 0%, 73%)
$color-text-sidebar: hsl(0, 0%, 93%)
$color-text-sidebar-heading: hsl($hue-primary, 10%, 11%)
$color-text-link: hsla($hue-secondary, 100%, 70%, 0.8)
$color-text-link-hover: hsl($hue-secondary, 60%, 37%)
$color-text-label: hsl($hue-tertiary, 35%, 50%)

$image-login: url("#{$directory}/images/dark-login.png")

$image-category-grimdark-fantasy: url("#{$directory}/images/dark-category-grimdark-fantasy.png")
$image-category-edutainment: url("#{$directory}/images/dark-category-edutainment.png")
$image-category-everything-else: url("#{$directory}/images/dark-category-everything-else.png")
$image-category-family-friendly: url("#{$directory}/images/dark-category-family-friendly.png")
$image-category-fan-fiction: url("#{$directory}/images/dark-category-fan-fiction.png")
$image-category-fantasy: url("#{$directory}/images/dark-category-fantasy.png")
$image-category-historical: url("#{$directory}/images/dark-category-historical.png")
$image-category-horror: url("#{$directory}/images/dark-category-horror.png")
$image-category-love-dating: url("#{$directory}/images/dark-category-love-dating.png")
$image-category-modern: url("#{$directory}/images/dark-category-modern.png")
$image-category-mystery-thriller: url("#{$directory}/images/dark-category-mystery-thriller.png")
$image-category-new: url("#{$directory}/images/dark-category-new.png")
$image-category-puzzle-games: url("#{$directory}/images/dark-category-puzzle-games.png")
$image-category-sci-fi: url("#{$directory}/images/dark-category-sci-fi.png")
$image-category-top: url("#{$directory}/images/dark-category-top.png")

$image-category-grimdark-fantasy-full: url("#{$directory}/images/dark-category-grimdark-fantasy-full.png")
$image-category-edutainment-full: url("#{$directory}/images/dark-category-edutainment-full.png")
$image-category-everything-else-full: url("#{$directory}/images/dark-category-everything-else-full.png")
$image-category-family-friendly-full: url("#{$directory}/images/dark-category-family-friendly-full.png")
$image-category-fan-fiction-full: url("#{$directory}/images/dark-category-fan-fiction-full.png")
$image-category-fantasy-full: url("#{$directory}/images/dark-category-fantasy-full.png")
$image-category-historical-full: url("#{$directory}/images/dark-category-historical-full.png")
$image-category-horror-full: url("#{$directory}/images/dark-category-horror-full.png")
$image-category-love-dating-full: url("#{$directory}/images/dark-category-love-dating-full.png")
$image-category-modern-full: url("#{$directory}/images/dark-category-modern-full.png")
$image-category-mystery-thriller-full: url("#{$directory}/images/dark-category-mystery-thriller-full.png")
$image-category-new-full: url("#{$directory}/images/dark-category-new-full.png")
$image-category-puzzle-games-full: url("#{$directory}/images/dark-category-puzzle-games-full.png")
$image-category-sci-fi-full: url("#{$directory}/images/dark-category-sci-fi-full.png")
$image-category-top-full: url("#{$directory}/images/dark-category-top-full.png")

$image-icon-length-rating: url("#{$directory}/images/custom/dark-length-rating.svg")
$image-icon-difficulty-1: url("#{$directory}/images/custom/dark-difficulty-1.svg")
$image-icon-difficulty-2: url("#{$directory}/images/custom/dark-difficulty-2.svg")
$image-icon-difficulty-3: url("#{$directory}/images/custom/dark-difficulty-3.svg")
$image-icon-difficulty-4: url("#{$directory}/images/custom/dark-difficulty-4.svg")
$image-icon-difficulty-5: url("#{$directory}/images/custom/dark-difficulty-5.svg")
$image-icon-difficulty-6: url("#{$directory}/images/custom/dark-difficulty-6.svg")
$image-icon-difficulty-7: url("#{$directory}/images/custom/dark-difficulty-7.svg")
$image-icon-difficulty-8: url("#{$directory}/images/custom/dark-difficulty-8.svg")
$image-icon-edit-adv: url("#{$directory}/images/elusive/dark-file-edit.svg")
$image-icon-delete: url("#{$directory}/images/elusive/remove.svg")
$image-icon-go: url("#{$directory}/images/elusive/dark-arrow-right.svg")
$image-icon-stop: url("#{$directory}/images/elusive/stop-alt.svg")
$image-icon-item: url("#{$directory}/images/elusive/dark-gift.svg")
$image-icon-variable: url("#{$directory}/images/custom/dark-percent.svg")
$image-icon-script: url("#{$directory}/images/elusive/dark-file.svg")

$image-trophy-fromindex: url("#{$directory}/images/custom/trophies/trophyFromIndex-dark.png")

$image-duel-toggle: url("#{$directory}/images/custom/duel-dark-toggle.png")
$image-duel-rps: url("#{$directory}/images/custom/duel-dark-rps.png")
$image-duel-rps25: url("#{$directory}/images/custom/duel-dark-rps25.png")
$image-icon-duel-checked: url("#{$directory}/images/game-icons/dark-checked.svg")
$image-icon-duel-square: url("#{$directory}/images/game-icons/dark-square.svg")
$image-icon-duel-blank: url("#{$directory}/images/game-icons/dark-blank.svg")
$image-icon-duel-nuke: url("#{$directory}/images/game-icons/dark-nuke.svg")
$image-icon-duel-lightning: url("#{$directory}/images/game-icons/dark-lightning.svg")
$image-icon-duel-snake: url("#{$directory}/images/game-icons/dark-snake.svg")
$image-icon-duel-devil: url("#{$directory}/images/game-icons/dark-devil.svg")
$image-icon-duel-gun: url("#{$directory}/images/game-icons/dark-gun.svg")
$image-icon-duel-wolf: url("#{$directory}/images/game-icons/dark-wolf.svg")
$image-icon-duel-woman: url("#{$directory}/images/game-icons/dark-woman.svg")
$image-icon-duel-rock: url("#{$directory}/images/game-icons/dark-rock.svg")
$image-icon-duel-paper: url("#{$directory}/images/game-icons/dark-paper.svg")
$image-icon-duel-dynamite: url("#{$directory}/images/game-icons/dark-dynamite.svg")
$image-icon-duel-axe: url("#{$directory}/images/game-icons/dark-axe.svg")
$image-icon-duel-sponge: url("#{$directory}/images/game-icons/dark-sponge.svg")
$image-icon-duel-scissors: url("#{$directory}/images/game-icons/dark-scissors.svg")
$image-icon-duel-water: url("#{$directory}/images/game-icons/dark-water.svg")
$image-icon-duel-bowl: url("#{$directory}/images/game-icons/dark-bowl.svg")
$image-icon-duel-cockroach: url("#{$directory}/images/game-icons/dark-cockroach.svg")
$image-icon-duel-air: url("#{$directory}/images/game-icons/dark-air.svg")
$image-icon-duel-fire: url("#{$directory}/images/game-icons/dark-fire.svg")
$image-icon-duel-alien: url("#{$directory}/images/game-icons/dark-alien.svg")
$image-icon-duel-dragon: url("#{$directory}/images/game-icons/dark-dragon.svg")
$image-icon-duel-man: url("#{$directory}/images/game-icons/dark-man.svg")
$image-icon-duel-tree: url("#{$directory}/images/game-icons/dark-tree.svg")
$image-icon-duel-monkey: url("#{$directory}/images/game-icons/dark-monkey.svg")
$image-icon-duel-moon: url("#{$directory}/images/game-icons/dark-moon.svg")
$image-icon-duel-sun: url("#{$directory}/images/game-icons/dark-sun.svg")

$palette: "dark"

@import "cyslantia-base"

// Overriding styles

$color-background-forumpost: hsl($hue-tertiary, 10%, 17%)

// Dark themes need more negative space

body:not(.cke_editable)
  line-height: 1.25

// Forums

.forum-thread:hover > .forum-message
  background-color: lighten($color-background-forumpost, 5%)

.forum-message
  background-color: $color-background-forumpost
  border: none !important
  box-shadow: 0 3px 8px rgba(black, 0.15)

  > .heading
    .heading-dom, > h2
      background-color: transparent !important
      border-bottom: 1px solid $color-background-accent !important
      margin: 0 !important
      padding: 0 0 5px

      h2
        color: $color-text-heading

  > .avatar-container
    background-color: transparent
    border: none !important

    > .avatar[src="/i/?"]
      border-color: $color-background-accent
