#svbanner, [name="SS"]+table {
  position: relative;
  z-index: 103;
}

body.destyle-colors {
  background-color: transparent !important;
  color: inherit !important
}

body.destyle-colors .dark1border+div>div div, body.destyle-colors .dark1border+div>div font, body.destyle-colors .dark1border+div>div p, body.destyle-colors .dark1border+div>div span {
  background-color: transparent !important;
  color: inherit !important
}

body.destyle-fonts {
  font-family: inherit !important;
  font-size: inherit !important
}

body.destyle-fonts .dark1border+div>div div, body.destyle-fonts .dark1border+div>div font, body.destyle-fonts .dark1border+div>div p, body.destyle-fonts .dark1border+div>div span {
  font-family: inherit !important;
  font-size: inherit !important
}
