/* Navbar Badges */

#BodyContainer .sidebar-content a.navbar-menu[data-badge]::before {
  content: "(" attr(data-badge) ") ";
}

#BodyContainer .sidebar-content .navbar-menuitem-container a[data-badge]::before {
  content: "(" attr(data-badge) ") ";
}

/* Forums */

.forum-message .heading-dom {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.forum-message .heading h2 {
  line-height: 18px;
  margin-right: 5px;
}

.forum-message .heading .heading-spacer {
  flex: 1 1;
}

.forum-message .buttons {
  display: flex;
  flex: 1000 0;
  justify-content: flex-end;
  width: 0;
  z-index: 1;
}

.forum-message .buttons .button {
  min-width: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.forum-message .body {
  display: flow-root;
}

.forum-thread.collapsed .avatar {
  display: none;
}

.forum-thread.collapsed .forum-message, .forum-thread.collapsed .forum-thread.collapsed>.forum-message {
  display: none;
}

.forum-thread.collapsed>.forum-message {
  display: block;
  min-height: 25px;
}

.forum-thread.collapsed>.forum-message .body {
  display: none;
}

.forum-thread.collapsed>.forum-message .subH2 {
  display: none;
}

.forum-thread.collapsed>.forum-message .avatar {
  display: none;
}

.forum-thread.collapsed>.forum-message h2 {
  border-bottom: none !important;
}

.forum-thread.collapsed a.button.collapse>img, .forum-thread a.button.collapse.collapsed>img {
  content: url("/0x44/InedoLib/Inedo.Web.Controls.IconImage/ProcessImageRequest/InedoIcons/F3Silk/16x16/add.png");
}

x-spoiler {
  background-color: #000;
  border-color: transparent;
  border-style: dotted;
  border-width: 1px;
  color: transparent;
  cursor: pointer;
  padding: 0 .125em;
  position: relative;
}

x-spoiler::before {
  color: #fff;
  content: "Spoiler";
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  text-shadow: -1px -1px #000, -1px 1px #000, 1px -1px #000, 1px 1px #000;
  white-space: nowrap;
}

x-spoiler[title]::before {
  content: attr(title);
}

x-spoiler[data-open], x-spoiler:hover {
  background-color: inherit;
  background-image: none;
  color: inherit;
  position: relative;
}

x-spoiler[data-open]::before, x-spoiler:hover::before {
  content: none;
}

x-spoiler[data-open] {
  border-color: transparent;
  text-decoration: underline dotted;
}

x-spoiler:hover {
  border-color: #333;
  text-decoration: none;
}

div[style="width=680px; "]>form[method="get"]+div {
  white-space: pre-wrap;
}

/* My Stuff */

.ui-sortable-handle {
  cursor: grab;
  transition: background 333ms ease, border 333ms ease, border-radius 333ms ease;
}

.ui-sortable-helper {
  background-color: #ffd9aa;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: grabbing;
  font-size: inherit;
  height: auto !important;
  padding: 4px;
  width: auto !important;
}

#MyStuffEditor {
  align-items: start;
  display: flex;
}

#MyStuffEditor>#MyStuffContainer>.flex.row>.flex.col {
  background-color: #ffd9aa;
  border: 1px solid #000;
  display: block;
  position: relative;
  text-align: center;
}

#MyStuffEditor>#MyStuffContainer>.flex.row>.flex.col::before {
  content: attr(data-displayname);
  font-size: 3rem;
  font-weight: bold;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#MyStuffEditor>#MyStuffContainer>.flex.row>.flex.col::after {
  content: attr(data-percentage);
  font-size: 2rem;
  left: 0;
  line-height: 1;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

#MyStuffEditor>#MyStuffContainer>.flex.row>.flex.col.ui-sortable-placeholder {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, .4);
  filter: blur(8px);
  flex-grow: 1;
  height: 100% !important;
  padding: 8px;
  visibility: visible !important;
}

#MyStuffEditor>#MyStuffContainer>.flex.row>.flex.col select {
  cursor: auto;
  float: right;
}

#MyStuffContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

#MyStuffContainer>.flex.row {
  display: flex;
  flex-direction: row;
  height: 230px;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

#MyStuffContainer>.flex.row>.flex.col {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin-right: 10px;
  width: 0;
}

#MyStuffContainer>.flex.row>.flex.col:last-child {
  margin-right: 0;
}

#MyStuffContainer>.flex.row>.flex.col h2, #MyStuffContainer>.flex.row>.flex.col>.flex-dom {
  line-height: 1.5em;
  padding: 2px;
}

#MyStuffContainer>.flex.row>.flex.col h3 {
  font-size: unset;
}

#MyStuffSidebar {
  background-color: #FFFBF4;
  float: right;
  margin-left: 10px;
  padding-bottom: 5px;
  text-align: center;
  width: 150px;
}

#MyStuffSidebar>h2 {
  margin-top: 10px;
}

#MyStuffSidebar>.flex.col {
  padding: 5px 0;
}

#MyStuffSidebar>.flex.col::before {
  content: attr(data-name);
}

#MyStuffSidebar select {
  display: none;
}

#MyStuffSidebar .ui-sortable-placeholder {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, .4);
  filter: blur(8px);
  flex-grow: 1;
  height: 1em !important;
  padding: 8px;
  visibility: visible !important;
}

.flex.col[data-ratio="6"] {
  flex-grow: 6;
}

.flex.col[data-ratio="5"] {
  flex-grow: 5;
}

.flex.col[data-ratio="4"] {
  flex-grow: 4;
}

.flex.col[data-ratio="3"] {
  flex-grow: 3;
}

.flex.col[data-ratio="2"] {
  flex-grow: 2;
}

.flex.col[data-ratio="1"] {
  flex-grow: 1;
}

.flex>.flex-dom {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flex>.flex-sub {
  flex: 0 1 auto;
  overflow: auto;
}

.flex>.flex-sub>div, .flex>.flex-sub>table, .flex>.flex-sub>.CodeMirror {
  height: 100%;
  width: 100%;
}

/* Preferences */

#CYSExtensionAvatarPreview {
  float: right;
  margin-bottom: -79px;
  max-height: 80px;
  position: relative;
  top: -3.95em;
}

#CYSExtensionAvatarPreview[src=""] {
  display: none;
}

.CYSExtensionCodeMirrorSubsetting>td:nth-child(2) {
  padding-left: 52px;
}

.CYSExtensionHidden {
  display: none;
}

/* Help & Info */

.generic-selector-parent {
  border: none !important;
  padding: 0 !important;
}

ul.help-info-selector, ul.generic-selector {
  font-weight: bold;
  border: solid 1px #900;
  border-width: 1px 1px 1px 0px;
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0;
}

ul.help-info-selector span, ul.generic-selector span {
  display: inline-block;
  padding: 5px 15px;
  margin: 0px;
}

h3+h2+h3 {
  font-size: .9em;
}

/* About Member */

#profile_Sidebar>div:first-child {
  padding-top: 5px;
}

.unpublished {
  font-style: italic;
}

/* CodeMirror */

.CodeMirror {
  line-height: normal;
}

/* Dialogs */

.ui-dialog.ui-front {
  z-index: 101;
}

/* Storygame Search */

#storygameListContainer {
  display: flex;
  font-size: 14px;
  line-height: 2;
  margin-top: 20px;
}

#storygameListContainer #storygameListFilters {
  border-right: 1px solid #752F19;
  flex: 0 0 200px;
  margin-right: 10px;
  padding-top: 10px;
}

#storygameListContainer #storygameListFilters label {
  color: #871D18;
  display: block;
}

#storygameListContainer #storygameListPages {
  flex: 1 0 580px;
}

#storygameListContainer #storygameListPagination {
  border-bottom: 1px solid #752F19;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#storygameListContainer #storygameListSubPagination {
  border-top: 1px solid #752F19;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#storygameListContainer #storygameList {
  display: flex;
  flex-direction: column;
}

#storygameListContainer #paginationSubsearch {
  margin-right: -1.5em;
}

#storygameListContainer label[for=paginationSubsearch] {
  color: #757575;
  font-size: xx-small;
  font-weight: inherit;
  position: absolute;
  right: 2em;
}

#storygameListContainer .entry {
  border-bottom: 1px solid #752F19;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 10px;
}

#storygameListContainer .entry:last-child {
  border-bottom: none;
}

#storygameListContainer .entry>div {
  flex: 1 0 0;
}

#storygameListContainer .entry>div:nth-child(2) {
  flex: 0 0 440px;
}

#storygameListContainer .entry .fullwidth {
  flex: 1 0 100%;
}

#storygameListContainer .multiInput {
  display: inline-flex;
  position: relative;
  padding: 0;
  padding-right: 1.5em;
}

#storygameListContainer .ratingContainer {
  background-image: url("chrome-extension://__MSG_@@extension_id__/themes/images/elusive/star-empty.svg");
  background-size: auto 100%;
  display: inline-block;
  height: 18px;
  width: 144px;
}

#storygameListContainer .rating {
  background-image: url("chrome-extension://__MSG_@@extension_id__/themes/images/elusive/star.svg");
  background-size: auto 100%;
  height: 100%;
}

#storygameListContainer .rating.rated {
  background-image: url("chrome-extension://__MSG_@@extension_id__/themes/images/elusive/star-green.svg");
}

#storygameListContainer .tag {
  background-color: #6F231F;
  border-radius: 4px;
  color: #EEE;
  cursor: pointer;
  display: inline-block;
  font-size: 0.95em;
  height: 1.3em;
  line-height: 1.3em;
  margin-right: 1em;
  padding: 0.2em 0.4em;
}

#storygameListContainer .tag:last-child {
  margin-right: none;
}

#storygameListContainer .tag.featured::before {
  background-image: url("chrome-extension://__MSG_@@extension_id__/themes/images/elusive/star-alt.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  content: " ";
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 1.3em;
}

#storygameListContainer .tag .booru {
  float: left;
  font-weight: bold;
  overflow: hidden;
  transition: width 200ms ease;
  width: 0;
  white-space: nowrap;
}

#storygameListContainer .tag:hover .booru {
  width: 3ch;
}

#storygameListContainer .tag a {
  color: inherit !important;
}

#storygameListContainer .loading::after {
  background-image: url("chrome-extension://__MSG_@@extension_id__/themes/images/material-throbber.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  display: block;
  height: 1.2em;
  width: 1.2em;
}

#storygameListContainer #storygameList.loading::after {
  background-position-x: 50%;
  height: 2em;
  margin-top: 1em;
  width: 100%;
}

#storygameListContainer h2[data-for] {
  cursor: pointer;
}

#storygameListContainer h2[data-for]::after {
  content: " ▾";
}

#storygameListContainer h2[data-for].collapsed::after {
  content: " ▸";
}

#storygameListContainer h2[data-for][data-value]:not([data-value=""])::after {
  content: " (" attr(data-value) ") ▾";
}

#storygameListContainer h2[data-for][data-value]:not([data-value=""]).collapsed::after {
  content: " (" attr(data-value) ") ▸";
}
